.page-content {
    padding: 120px 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
}
.page-heading {
    font-size: 18px;
}
.contacticon {
    display: block;
    font-size: 35px;
    margin: 10px;
}
.center{
    text-align: center;
}
